<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
          integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
          integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
          integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
          crossorigin="anonymous"></script>
  <title>Автомобильные инцеденты</title>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Accidents</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/createAccident}">Добавить Инцидент</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:text="${user}"></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row pt-3">
    <div class="card" style="width: 100%">
      <div class="card-header">
        Новый инцидент
      </div>
      <div class="card-body">
        <form th:action="@{/saveAccident}" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="id" value="0"/>
          <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" class="form-control" name="name" id="name">
          </div>
          <div class="form-group">
            <label for="text">Текст</label>
            <input type="text" class="form-control" name="text" id="text">
          </div>
          <div class="form-group">
            <label for="address">Адрес</label>
            <input type="text" class="form-control" name="address" id="address">
          </div>
          <div class="form-group">
            <label for="type.id">Тип</label>
            <select class="form-control" id="type.id"  name="type.id">
              <option th:each="type: ${types}"
                      th:text="${type.name}"
                      th:value="${type.id}"></option>
            </select>
          </div>
          <div class="form-group">
            <label for="type.id" name="rIds">Статья</label>
            <select class="form-control" id="rIds" name="rIds" multiple>
              <option th:each="rule: ${rules}"
                      th:text="${rule.name}"
                      th:value="${rule.id}"></option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>